<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/dc6de319-b480-4cfa-9886-776b11b66bfb/resourceGroups/linux-grp/providers/Microsoft.Web/sites/neshure</ResourceId>
    <ResourceGroup>linux-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://neshure.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://neshure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$neshure</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>